@{
	ViewData["Title"] = "Password Reset";
	Layout = "~/Views/Shared/PageLogin.cshtml";
}

<section class="page_title ls s-py-50 corner-title ls invise overflow-visible">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Password Reset</h1>
				<div class="divider-15 d-none d-xl-block"></div>
			</div>
		</div>
	</div>
</section>

<section class="ls s-pt-50 s-pb-100">
	<div class="container">
		<div class="row">
			<main class="col-lg-12">
				<form asp-action="PasswordResetn" asp-controller="Home" method="post" class="woocommerce-ResetPassword lost_reset_password text-center">
					<p>Lost your password? Please enter your email address. You will receive a link to create a new password via email.</p>

					<div class="d-none d-lg-block divider-20"></div>
					<p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first form-control1">
						<label for="email"></label>
						<input class="woocommerce-Input woocommerce-Input--text input-text" type="email" name="email" placeholder="Enter your email" id="email" required>
					</p>

					<div class="clear"></div>

					<p class="woocommerce-form-row form-row">
						<input type="submit" class="woocommerce-Button button" value="Send Reset Link">
					</p>
				</form>

				@if (ViewBag.Message != null)
				{
					<p style="color:green;">@ViewBag.Message</p>
				}

				@if (ViewBag.Error != null)
				{
					<p style="color:red;">@ViewBag.Error</p>
				}
			</main>
		</div>
	</div>
</section>
