<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
   @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HR_Management_System.styles.css" asp-append-version="true" /> *@
	<link rel="icon" type="image/x-icon" href="~/img/favicon.ico" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/animations.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/font-awesome.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/main.css" class="color-switcher-link" asp-append-version="true">
    <script src="~/js/vendor/modernizr-2.6.2.min.js"></script>

    <!-- Add Font Awesome CDN link in the head section -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" asp-append-version="true">


	<link rel="stylesheet" href="~/css/shop.css" class="color-switcher-link" asp-append-version="true">


</head>



<body>
	

                           
							


			<div>
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>


		


	<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="~/js/compressed.js"></script>
	<script src="~/js/main.js"></script>

</body>




</html>
